<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!--共通CSS読込-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!--共通JS読込-->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
  <title></title>
</head>

<body>
  <!--ヘッダー-->
  <nav layout:replace="~{layout/header::header}"></nav>
  <!-- メインコンテンツ -->
  <main class="p-3">
    <div layout:fragment="content" class="container my-2" style="max-width: 800px;">
    </div>
  </main>
</body>

</html>