<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout2}">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>個人タスク削除</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!-- Bootstrap JS -->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}" defer></script>
</head>

<body>
  <!-- ナビゲーション -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" th:text="#{app_name}"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" th:href="@{/home}">ホーム</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/todo/list}">個人タスク</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" th:href="@{/todo/entry}">チームプロジェクト</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <span class="nav-link">
              ようこそ<span sec:authentication="principal.fullName"></span>さん
            </span>
          </li>
          <li class="nav-item">
            <form method="post" th:action="@{/logout}">
              <button class="btn btn-outline-secondary" type="submit" th:text="#{logout}"></button>
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- ナビゲーション ここまで -->

  <div layout:fragment="content">
    <h2 class="mb-4">個人タスクを削除</h2>
    <form th:action="@{/delete/personal-task}" method="post" th:object="${taskRegistrationForm}">
      <!--タスクのid-->
      <input type="hidden" th:field="*{id}" />
      <!-- タスク名 -->
      <div class="mb-3">
        <label for="title" class="form-label">タスク名</label>
        <p class="form-control" th:text="*{title}"></p>
      </div>

      <!-- タスクの説明 -->
      <div class="mb-3">
        <label for="description" class="form-label">タスクの説明</label>
        <p class="form-control" th:text="*{description}"></p>
      </div>

      <!-- タスクの期限 -->
      <div class="mb-3 w-50">
        <label for="dueDate" class="form-label">期限</label>
        <input type="date" class="form-control" th:field="*{dueDate}" disabled></input>
      </div>

      <!-- ステータス -->
      <div class="mb-3 w-50">
        <label for="status" class="form-label">ステータス</label>
        <p class="form-control" th:text="*{status.displayValue}"></p>
      </div>

      <!-- 優先度 -->
      <div class="mb-3 w-50">
        <label for="priority" class="form-label">優先度</label>
        <p class="form-control" th:text="*{priority.displayValue}"></p>
      </div>

      <!-- タグ -->
      <div class="mb-3">
        <label for="name" class="form-label">タグ</label>
        <p class="form-control" th:text="*{name}" style="height: 37.6px;"></p>
      </div>

      <button type="submit" class="btn btn-danger">削除</button>
      <a href="#" class="btn btn-secondary" th:href="@{/personal-task}">キャンセル</a>
    </form>
  </div>
</body>

</html>