@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  margin: 0 auto;
  font-family: "Helvetica Neue",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Arial,
    Meiryo,
    sans-serif;
}

.form-login,
.form-input {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

