@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&family=Noto+Sans+JP&family=Noto+Serif+JP&family=Shippori+Mincho&family=Kalam:wght@700&family=Cormorant:ital@1&family=Space+Mono:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  min-height: 100vh;
  margin: 0 auto;
/* font-family: "Helvetica Neue", */
    /*    "Hiragino Kaku Gothic ProN",*/
    /*    "Hiragino Sans",*/
    /*    Arial,*/
    /*    Meiryo,*/
    /*    sans-serif;*/
    font-family: 'Noto Sans JP', sans-serif, 'Kaisei Opti', serif, 'Kalam', cursive, 'Noto Serif JP', serif, 'Shippori Mincho', serif, 'Cormorant', serif, 'Space Mono', monospace;

}

.form-login,
.form-input {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
}

