<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title th:text="#{app_name}"></title>
  <!--CSS読み込み-->
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <!--JS読み込み-->
  <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}" defer></script>
</head>

<body>
  <div class="login-container">
    <div>
      <form method="post" th:action="@{/login}" class="form-login text-center">
        <h1 class="h3 mb-3">ログインしてください</h1>
        <p th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null"
          th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}" class="text-danger">
          ログインエラーメッセージ
        </p>
        <!-- ユーザーID -->
        <div class="mb-3">
          <label for="email" class="visually-hidden" th:text="#{email}"></label>
          <input type="email" class="form-control" placeholder="ユーザーID" name="email" id="email" required>
        </div>
        <!-- パスワード -->
        <div class="mb-4">
          <label for="password" class="visually-hidden" th:text="#{password}"></label>
          <input type="password" class="form-control" placeholder="パスワード" name="password" id="password"
            required>
        </div>
        <button class="btn btn-primary w-50" type="submit" th:text="#{login}"></button>
      </form>
      <div class="text-center mt-3">
        <a th:href="@{/user/signup}">新規会員登録はこちら</a>
      </div>
    </div>
  </div>
</body>

</html>